@import '../../../styles/partials/var';

.catalog
{
    color: $faint-white;

    .catalog__body
    {

        .catalog__body__item
        {
            position: relative;
            border-radius: 16px;

            &:hover .catalog__body__item-pic
            {
                transform: scale( 1.1);
            }

            &:hover .catalog__body__item__overlay
            {
                background: rgba(0,0,0,0.5);
            }

            &:hover .catalog__body__item-header
            {
                color: $light-blue;
            }

            figure
            {
                border-radius: 16px;
            }

            .catalog__body__item__overlay
            {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 15px;
                border-radius: 16px;
                background: rgba(0,0,0,0.2);
                transition: all 0.5s ease;
                z-index: 2;
            }

            .catalog__body__item-header
            {
                position: absolute;
                bottom: 10%;
                left: 15%;
                transition: all 0.5s ease;
                z-index: 2;
            }

            .catalog__body__item-pic
            {
                border-radius: 16px;
                transition: all 0.5s ease;
            }


        }

        
    }

}