
<section class="catalog mb-5">
    <div class="wide-container">

        <header class="py-5">
            <h1 class="title pl-2">Catalog</h1>
        </header>

        <div class="catalog__body">
            <div class="row">

                <div class="col-lg-3 catalog__body__item mb-4">
                    <a [routerLink]="['/catalog', 'topRated']" >  

                        <div class="catalog__body__item__overlay " >
                            <h3 class="catalog__body__item-header">Top Rated</h3>
                        </div>
                        
                        <figure class="mb-0 overflow-hidden">
                            <img class="img-fluid catalog__body__item-pic" [src]="imgPrefix+topRatedPic" > 
                        </figure>
                    </a>
                </div>

                <div class="col-lg-3 catalog__body__item mb-4">
                    <a [routerLink]="['/catalog', 'popular']" >  

                        <div class="catalog__body__item__overlay " >
                            <h3 class="catalog__body__item-header">Popular</h3>
                        </div>
                        
                        <figure class="mb-0 overflow-hidden">
                            <img class="img-fluid catalog__body__item-pic" [src]="imgPrefix+popularPic" > 
                        </figure>
                    </a>
                </div>

                

                <div class="col-lg-3 catalog__body__item mb-4">
                    <a [routerLink]="['/catalog', 'nowPlaying']" >  

                        <div class="catalog__body__item__overlay " >
                            <h3 class="catalog__body__item-header">Now Playing</h3>
                        </div>
                        
                        <figure class="mb-0 overflow-hidden">
                            <img class="img-fluid catalog__body__item-pic" [src]="imgPrefix+nowPlayingPic" > 
                        </figure>
                    </a>
                </div>

                <div class="col-lg-3 catalog__body__item mb-4">
                    <a [routerLink]="['/catalog', 'upComing']" >  

                        <div class="catalog__body__item__overlay " >
                            <h3 class="catalog__body__item-header">Up Coming</h3>
                        </div>
                        
                        <figure class="mb-0 overflow-hidden">
                            <img class="img-fluid catalog__body__item-pic" [src]="imgPrefix+upComingPic" > 
                        </figure>
                    </a>
                </div>

                <div class="col-lg-3 catalog__body__item mb-4">
                    <a [routerLink]="['/catalog', 'trendingSeries']" >  

                        <div class="catalog__body__item__overlay " >
                            <h3 class="catalog__body__item-header">Trending Series</h3>
                        </div>
                        
                        <figure class="mb-0 overflow-hidden">
                            <img class="img-fluid catalog__body__item-pic" [src]="imgPrefix+trendingTvPic" > 
                        </figure>
                    </a>
                </div>

                <div class="col-lg-3 catalog__body__item mb-4">
                    <a [routerLink]="['/catalog', 'trendingMovies']" >  

                        <div class="catalog__body__item__overlay " >
                            <h3 class="catalog__body__item-header">Trending Movies</h3>
                        </div>
                        
                        <figure class="mb-0 overflow-hidden">
                            <img class="img-fluid catalog__body__item-pic" [src]="imgPrefix+trendingMoviePic" > 
                        </figure>
                    </a>
                </div>

                

            </div>
        </div>

    </div>
</section>
