
<section class="catalog mb-5">
    <div class="wide-container">

        <header class="py-5">
            <h1 class="">Catalog</h1>
        </header>

        <div class="catalog__body">
            <div class="row">

                <div class="col-lg-3 catalog__body__item mb-4">

                    <div class="catalog__body__item__overlay " >
                        <h3 class="catalog__body__item-header">Top Rated</h3>
                    </div>
                     
                    <figure class="mb-0 overflow-hidden">
                        <img class="img-fluid catalog__body__item-pic" [src]="imgPrefix+topRatedPic" > 
                    </figure>

                </div>

                <div class="col-lg-3 catalog__body__item mb-4">

                    <div class="catalog__body__item__overlay " >
                        <h3 class="catalog__body__item-header">Popular</h3>
                    </div>
                     
                    <figure class="mb-0 overflow-hidden">
                        <img class="img-fluid catalog__body__item-pic" [src]="imgPrefix+popularPic" > 
                    </figure>

                </div>

                

                <div class="col-lg-3 catalog__body__item mb-4">

                    <div class="catalog__body__item__overlay " >
                        <h3 class="catalog__body__item-header">Now Playing</h3>
                    </div>
                     
                    <figure class="mb-0 overflow-hidden">
                        <img class="img-fluid catalog__body__item-pic" [src]="imgPrefix+nowPlayingPic" > 
                    </figure>

                </div>

                <div class="col-lg-3 catalog__body__item mb-4">

                    <div class="catalog__body__item__overlay " >
                        <h3 class="catalog__body__item-header">Up Coming</h3>
                    </div>
                     
                    <figure class="mb-0 overflow-hidden">
                        <img class="img-fluid catalog__body__item-pic" [src]="imgPrefix+upComingPic" > 
                    </figure>

                </div>

                <div class="col-lg-3 catalog__body__item mb-4">

                    <div class="catalog__body__item__overlay " >
                        <h3 class="catalog__body__item-header">Trending Series</h3>
                    </div>
                     
                    <figure class="mb-0 overflow-hidden">
                        <img class="img-fluid catalog__body__item-pic" [src]="imgPrefix+trendingTvPic" > 
                    </figure>

                </div>

                <div class="col-lg-3 catalog__body__item mb-4">

                    <div class="catalog__body__item__overlay " >
                        <h3 class="catalog__body__item-header">Trending Movies</h3>
                    </div>
                     
                    <figure class="mb-0 overflow-hidden">
                        <img class="img-fluid catalog__body__item-pic" [src]="imgPrefix+trendingMoviePic" > 
                    </figure>

                </div>

                

            </div>
        </div>

    </div>
</section>
