<section class="movies-view py-5">
    <div class="container">

        <!-- catalog navbar START-->
        <div class="catlog-nav py-3 px-4 ">
            <div class="row">

                <div class="select-wrapper d-flex col-md-4 ">
                    
                    <select class="catalog-select">
                        <option value="all genres">All genres <i class="fas fa-chevron-down"></i> </option>
                        <option value="2">Action</option>
                        <option value="3">Animation</option>
                        <option value="3">Comedy</option>
                        <option value="3">Drama</option>
                        <option value="3">Fantasy</option>
                        <option value="3">History</option>
                        <option value="3">Horror</option>
                        <option value="3">Mystery</option>
                        <option value="3">Science Fiction</option>
                    </select>

                    <select class="catalog-select">
                        <option value="all genres">All the years</option>
                        <option value="2">90s</option>
                        <option value="2">80s</option>
                        <option value="3">70s</option>
                    </select>

                </div>

                <div class="slider-radio offset-md-4 col-md-4" >
                   
                    <div class="wrapper d-flex">

                        <div class="toggle_radio py-2 px-2">
                            <input type="radio" checked class="toggle_option" id="first_toggle" name="toggle_option">
                            <input type="radio" class="toggle_option" id="second_toggle" name="toggle_option">
                            <input type="radio" class="toggle_option" id="third_toggle" name="toggle_option">
                            <label class="featured" for="first_toggle" ><p class="m-0">Featured</p></label>
                            <label class="popular" for="second_toggle"><p class="m-0"> Popular</p></label>
                            <label class="newest" for="third_toggle"><p class="m-0">Newest</p></label>

                            <div class="toggle_option_slider"></div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <!-- catalog navbar END -->

        <div class="movies-view-content mt-5">
            <div class="row">

                <div class="movie col-md-2">

                    <div class="movie-img-overlay d-flex justify-content-center align-items-center" >

                        <div class="favorite-icon-wrapper py-1 px-2">
                            <i class="far fa-bookmark"></i>
                        </div>

                        <button class="btn rate-icon-wrapper p-1">
                            <i class="far fa-star pr-1"></i> <span class="text-white">3.8</span>
                        </button>

                        <button class="btn movie-play-btn"> <i class="far fa-play-circle text-white"></i> </button>

                    </div>

                    <figure >
                        <img class="img-fluid movie-img" src="https://m.media-amazon.com/images/M/MV5BOTk5ODg0OTU5M15BMl5BanBnXkFtZTgwMDQ3MDY3NjM@._V1_QL50_SY1000_CR0,0,674,1000_AL_.jpg" >
                    </figure>
                </div>

                <div class="col-md-2">
                    <figure >
                        <img class="img-fluid movie-img" src="https://m.media-amazon.com/images/M/MV5BOTk5ODg0OTU5M15BMl5BanBnXkFtZTgwMDQ3MDY3NjM@._V1_QL50_SY1000_CR0,0,674,1000_AL_.jpg" >
                    </figure>
                </div>

                <div class="col-md-2">
                    <figure >
                        <img class="img-fluid movie-img" src="https://m.media-amazon.com/images/M/MV5BOTk5ODg0OTU5M15BMl5BanBnXkFtZTgwMDQ3MDY3NjM@._V1_QL50_SY1000_CR0,0,674,1000_AL_.jpg" >
                    </figure>
                </div>

                <div class="col-md-2">
                    <figure >
                        <img class="img-fluid movie-img" src="https://m.media-amazon.com/images/M/MV5BOTk5ODg0OTU5M15BMl5BanBnXkFtZTgwMDQ3MDY3NjM@._V1_QL50_SY1000_CR0,0,674,1000_AL_.jpg" >
                    </figure>
                </div>

                <div class="col-md-2">
                    <figure >
                        <img class="img-fluid movie-img" src="https://m.media-amazon.com/images/M/MV5BOTk5ODg0OTU5M15BMl5BanBnXkFtZTgwMDQ3MDY3NjM@._V1_QL50_SY1000_CR0,0,674,1000_AL_.jpg" >
                    </figure>
                </div>

                <div class="col-md-2">
                    <figure >
                        <img class="img-fluid movie-img" src="https://m.media-amazon.com/images/M/MV5BOTk5ODg0OTU5M15BMl5BanBnXkFtZTgwMDQ3MDY3NjM@._V1_QL50_SY1000_CR0,0,674,1000_AL_.jpg" >
                    </figure>
                </div>

                <div class="col-md-2">
                    <figure >
                        <img class="img-fluid movie-img" src="https://m.media-amazon.com/images/M/MV5BOTk5ODg0OTU5M15BMl5BanBnXkFtZTgwMDQ3MDY3NjM@._V1_QL50_SY1000_CR0,0,674,1000_AL_.jpg" >
                    </figure>
                </div>
                <div class="col-md-2">
                    <figure >
                        <img class="img-fluid movie-img" src="https://m.media-amazon.com/images/M/MV5BOTk5ODg0OTU5M15BMl5BanBnXkFtZTgwMDQ3MDY3NjM@._V1_QL50_SY1000_CR0,0,674,1000_AL_.jpg" >
                    </figure>
                </div>

                <div class="col-md-2">
                    <figure >
                        <img class="img-fluid movie-img" src="https://m.media-amazon.com/images/M/MV5BOTk5ODg0OTU5M15BMl5BanBnXkFtZTgwMDQ3MDY3NjM@._V1_QL50_SY1000_CR0,0,674,1000_AL_.jpg" >
                    </figure>
                </div>

                <div class="col-md-2">
                    <figure >
                        <img class="img-fluid movie-img" src="https://m.media-amazon.com/images/M/MV5BOTk5ODg0OTU5M15BMl5BanBnXkFtZTgwMDQ3MDY3NjM@._V1_QL50_SY1000_CR0,0,674,1000_AL_.jpg" >
                    </figure>
                </div>

                <div class="col-md-2">
                    <figure >
                        <img class="img-fluid movie-img" src="https://m.media-amazon.com/images/M/MV5BOTk5ODg0OTU5M15BMl5BanBnXkFtZTgwMDQ3MDY3NjM@._V1_QL50_SY1000_CR0,0,674,1000_AL_.jpg" >
                    </figure>
                </div>

                

            </div>
        </div>

    </div>
</section>
