@import '../../../styles/partials/var';

.movies-view
{

    background-color: $primary-color;

    // just testing section
    .test
    {
      height: 2000px;
      width: 100%;
      background-color: yellow;
    }

    .catlog-nav
    {
        border-radius: 16px;
        background-color: $lighter-primary-color;
        color: $off-white;
        overflow: hidden;

        .catalog-select
        {
            padding-right: 2rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none; 
            background-color: $lighter-primary-color;
            color: $off-white;
            border: none;
            transition: color 0.5s;

            &:focus-visible
            {
                outline: none;
            }
            &:hover
            {
                color:$lighter-blue ;
            }

            option
            {
                color: $off-white;
                &:hover
                {
                    box-shadow: 0 0 10px 100px #1882A8 inset;
                    color:$lighter-blue !important;
                    background-color: transparent !important;
                }
                
            }

        }

        .slider-radio
        {
            .toggle_radio{
                position: relative;
                background: $primary-color;
                overflow: hidden;
                -webkit-border-radius: 16px;
                -moz-border-radius: 16px;
                border-radius: 16px;
                position: relative;

              }
              .toggle_radio {
                display: flex;
                justify-content: space-evenly;
              }
              .toggle_radio input[type=radio]{
                display: none;
                /*position: fixed;*/
              }
              .toggle_radio label{
                color: rgba(255,255,255,.9);
                z-index: 0;
                display: block;
                padding: 0 0.5rem 0;
                margin: 1px;
                -webkit-border-radius: 16px;
                -moz-border-radius: 16px;
                border-radius: 16px;
                cursor: pointer;
                z-index: 1;
                text-align: center;
                transition: color 0.5s ease;
                &:hover
                {
                  color: $lighter-blue;
                }
              }
              .toggle_option_slider{
                /*display: none;*/
                /*background: red;*/
                width: 31%;
                height: 80%;
                position: absolute;
                top: 10%;
                -webkit-border-radius: 16px;
                -moz-border-radius: 16px;
                border-radius: 16px;
                -webkit-transition: all .4s ease;
                -moz-transition: all .4s ease;
                -o-transition: all .4s ease;
                -ms-transition: all .4s ease;
                transition: all .4s ease;
              }
              // when checked we need to make the text appear so we give higher z index 
              #now-playing:checked ~ .now-playing {
                color: $lighter-blue;
                position: relative;
                z-index: 5;
              }
              #popular:checked ~ .popular{
                color: $lighter-blue;
                position: relative;
                z-index: 5;
              }
              #up-coming:checked ~ .up-coming{
                color: $lighter-blue;
                position: relative;
                z-index: 5;
              }
              // when checked we need to move the slider to the checked label 
              #now-playing:checked ~ .toggle_option_slider{
                background: $lighter-primary-color;
                left: 2%;
                width: 42%;
              }
              #popular:checked ~ .toggle_option_slider{
                background: $lighter-primary-color;
                left: 44%;
                width: 30%;
              }
              #up-coming:checked ~ .toggle_option_slider{
                background: $lighter-primary-color;
                left: 74%;
                width: 24%;
              }

        }
    }

    // movie content style
        
    .movies-view-content
    {

      

      .movie
      {
          cursor: pointer;

          &:hover .movie-img-overlay
          {
            background:rgba(0,0,0,0.2) !important;
            visibility: visible !important;
          }

          &:hover .movie-img
          {
            filter: blur(0.05rem);
            transform: scale(1.1);
          }

          &:hover .rate-icon-wrapper
          {
            opacity: 1 !important;
            font-size: 0.8rem !important;
          }

          &:hover .favorite-icon-wrapper
          {
            opacity: 1 !important;
            font-size: 0.8rem !important;
          }

          &:hover .movie-play-btn
          {
            opacity: 1 !important;
            font-size: 2.5rem !important;
          }

          .img-wrapper
          {
            border-radius: 16px;
          }

          .movie-img
          {
            border-radius: 16px;
            transition: all 0.5s ease;
          }

          .movie-img-overlay
          {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 16px;
            margin: 0 15px 20px;
            visibility: hidden;
            z-index: 5;

            .favorite-icon-wrapper
            {
              background-color: $lighter-primary-color;
              color: $light-blue;
              position: absolute;
              top: 4%;
              left: 4%;
              border-radius: 10px;
              font-size: 0.6rem;
              opacity: 0;
              -webkit-transition: all 0.4s ease;
              -moz-transition:all 0.4s ease;
              -ms-transition:all 0.4s ease;
              transition:all 0.4s ease;

              &:hover
              {
                color: $secondary-color;
              }

            }

            .rate-icon-wrapper
            {
              background-color: $lighter-primary-color;
              color: $light-blue;
              position: absolute;
              top: 4%;
              right: 4%;
              border-radius: 10px;
              font-size: 0.6rem;
              opacity: 0;
              -webkit-transition: all 0.5s ease;
              -moz-transition: all 0.4s ease;
              -ms-transition: all 0.4s ease;
              transition: all 0.4s ease;
            }

            .movie-play-btn
            {
              font-size: 1.7rem;
              color: whitesmoke;
              opacity: 0;
              -webkit-transition: all 0.5s ease;
              -moz-transition: all 0.4s ease;
              -ms-transition: all 0.4s ease;
              transition: all 0.4s ease;
            }

          }



      }

    }

    
          
}

