<section class="movies-view py-5">
    <div class="container">

        <!-- catalog navbar START-->
        <div class="catlog-nav py-3 px-4 ">
            <div class="row">

                <div class="select-wrapper d-flex col-md-4 ">
                    
                    <select class="catalog-select">
                        <option value="all genres">All genres</option>
                        <option value="2">Action</option>
                        <option value="3">Animation</option>
                        <option value="3">Comedy</option>
                        <option value="3">Drama</option>
                        <option value="3">Fantasy</option>
                        <option value="3">History</option>
                        <option value="3">Horror</option>
                        <option value="3">Mystery</option>
                        <option value="3">Science Fiction</option>
                    </select>

                    <select class="catalog-select">
                        <option value="all genres">All the years</option>
                        <option value="2">90s</option>
                        <option value="2">80s</option>
                        <option value="3">70s</option>
                    </select>

                </div>

                <div class="slider-radio offset-md-3 col-md-5" >
                   
                    <div class="wrapper d-flex ">

                        <div class="toggle_radio py-2 px-0">
                            <input type="radio" checked class="toggle_option" id="first_toggle" name="toggle_option">
                            <input type="radio" class="toggle_option" id="second_toggle" name="toggle_option">
                            <input type="radio" class="toggle_option" id="third_toggle" name="toggle_option">
                            <label class="now-playing" for="first_toggle" ><p class="m-0">Now Playing</p></label>
                            <label class="popular" for="second_toggle"><p class="m-0"> Popular</p></label>
                            <label class="up-coming" for="third_toggle"><p class="m-0">up Coming</p></label>

                            <div class="toggle_option_slider"></div>

                        </div>
                        

                    </div>

                </div>

            </div>
        </div>
        <!-- catalog navbar END -->

        <!-- movies view content START-->
        <div class="movies-view-content mt-5">
            <div class="row">

                <div class="movie col-md-2" *ngFor="let movie of NowPlayingMovies">

                    <div class="movie-img-overlay d-flex justify-content-center align-items-center" >

                        <button class="btn favorite-icon-wrapper py-1 px-2">
                            <i class="far fa-bookmark"></i>
                        </button>

                        <div class="rate-icon-wrapper p-1">
                            <i class="far fa-star pr-1"></i> <span class="text-white">{{movie.vote_average}}</span>
                        </div>

                        <button class="btn movie-play-btn"> <i class="far fa-play-circle "></i> </button>

                    </div>

                    <figure class="overflow-hidden img-wrapper">
                        <img class="img-fluid movie-img" [src]="imgPrefix + movie.poster_path" >
                    </figure>
                </div>

                

            </div>
        </div>
        <!-- movies view content END-->

    </div>
</section>
