$primary-color:#131720;
$lighter-primary-color:#151f30;
$light-blue:#2E7DE7;
$lighter-blue:#2f80ed; // text hover
$secondary-color:#ffc312;
$faint-white:#e0e0e0; // text color 
$off-white:#fff; // text color (headers)

// 8491d7a7567e601abc6737a36f584c43 apikey

$main-font:'Inter', sans-serif;
$titles-font:'Fugaz One', cursive;