<figure class="position-relative mb-5">
    <div class="cover d-flex flex-column justify-content-end">
        <div class="w-50 p-5 text-start">
            <h2 class="mb-3">{{movie.title}}</h2>
            <div class="mb-3 d-flex ">
                <i class="far fa-star mr-1 color"></i>
                <span class="mr-4">{{movie.vote_average}}</span>
                <li class="mr-4">{{movie.genres[0].name}}</li>
                <li class="mr-4">{{movie.release_date }}</li>
                <li class="mr-4">{{movie.runtime }} Minute</li>
                <li class="mr-4" *ngIf="movie.adult">{{adults}}</li>
            </div>
            <p>{{movie.overview}}</p>
        </div>
    </div>

    <img [src]="imgPrefix+movie.backdrop_path" alt="" class="w-100 img-fluid">
</figure>

<div class="container-fluid mt-5">
        <div class="row">
    <figure class="col-3" *ngFor="let similarMovie of similar.results">
        <img [src]="imgPrefix+similarMovie.poster_path" alt="" class="w-100 img-fluid">
    </figure>
</div>
</div>