

<div class="spinner d-flex flex-column justify-content-center"  *ngIf="!popularMovies">
    <spinner ></spinner>
</div>
<owl-carousel-o [options]="customOptions" #owlCar>
    
    <ng-template class="" carouselSlide *ngFor="let movie of popularMovies.results">
        <figure class=" mb-0 animate__animated animate__fadeIn " style="cursor: pointer;">
            <div class="itemOverlay d-flex  flex-column justify-content-between">
                <div class="d-flex justify-content-between align-items-baseline w-100">
                    <i class="far fa-bookmark p-2 rounded m-3" style="background-color: #151f30;"></i>
                    <span class="icons m-3 p-1"><i class="far fa-star m-1"></i>{{movie.vote_average}}</span>
                </div>
            <i class="fas fa-play-circle fa-2x mx-auto my-auto"></i>
            </div>
            
            <img class="photoShape rounded img-fluid" [src]="imgPrefix+movie.poster_path" alt="not">
        </figure>
    </ng-template>
</owl-carousel-o>

<button type="button" class="sliderButtons" (click)="owlCar.prev()"></button>
<button type="button" class="sliderButtonsNext" (click)="owlCar.next()"></button>