@import "../../../styles/partials/var";

.itemOverlay {
  width: 100%;
  height: 100%;
  color: $light-blue;
  border-radius: 10px;
  position: absolute;
  opacity: 0;
  z-index: 100;
  transition: all 0.6s ease;
}
.icons {
  font-size: 20px;
}
img,
i,
span {
  transition: all 0.6s ease;
}
figure {
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  img
  {
  transition: all 0.6s ease;
  }


}
.itemOverlay {
  i,
  span,
  .photoShape
  {
  transition: all 0.6s ease;

  }

}
figure:hover .itemOverlay {
  i,
  span{
    transition: all 0.6s ease;
    transform: scale(1.2, 1.2);
  }
  transition: all 0.6s ease;
  box-shadow: 5px 5px 50px 5px $light-blue inset;
  opacity: 1;
  background: rgba(19, 23, 32, 0.5);
  transition: all 0.6s ease;
}
figure:hover img {
  transform: scale(1.1);
  transition: all 0.6s ease;
}

::ng-deep .owl-theme .owl-dots .owl-dot span {
  background: $light-blue !important; /* dots color*/
}

::ng-deep .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ffffff !important; /*active and on hover color*/
}

.sliderButtons {
  z-index: 100;
  height: 450px;
  position: absolute;
  top: 13%;
  width: 67px;
  border: transparent;
  padding: 0px;
  background: transparent;
  outline: none;
}

.sliderButtonsNext {
  z-index: 100;
  height: 450px;
  right: 0%;
  position: absolute;
  top: 13%;
  width: 67px;
  border: transparent;
  padding: 0px;
  background: transparent;
  outline: none;
}

@media (max-width: 1024px) {
  .sliderButtons {
    display: none;
  }
  .sliderButtonsNext {
    display: none;
  }
}

@media (max-width: 1124px) {
  .sliderButtons {
    display: none;
  }
  .sliderButtonsNext {
    display: none;
  }
}

@media (max-width: 767px) {
  figure {
    margin-top: 50%;
  }
}