<footer class="  mt-5 py-5">
    <div class="wide-container row">
<div class="mb-5 col-12 col-md-4 ">
    <h2 class="color">Movies</h2>
    <p>Movies & TV Shows, Online cinema,
    Movie database HTML Template.</p>
    <div class="d-flex">
        <i class="fab fa-facebook-square  fa-2x mr-3"></i>
        <i class="fab fa-twitter-square fa-2x mr-3"></i>
        <i class="fab fa-instagram-square fa-2x mr-3"></i>
        <i class="fab fa-tiktok fa-2x mr-3"></i>
    </div>
</div>

<div class="text-white mb-2 col-6 col-md-2">
<h5>Movies</h5>
<p>About us</p>
<p>Pofile</p>
<p>Pricing plans</p>
<p>Contacts</p>
</div>

<div class="text-white mb-2 col-6 col-md-2">
    <h5>Browse</h5>
    <p>Live TV</p>
    <p>Live News</p>
    <p>Live Sports</p>
    <p>Streaming Library</p>
</div>

<div class="text-white mb-2 col-6 col-md-2">
    <h5>Accessibility</h5>
    <p>TV Shows</p>
    <p>Movies</p>
    <p>Kids</p>
    <p>Collections</p>
</div>

<div class="text-white mb-2 col-6 col-md-2">
    <h5>Help</h5>
    <p>Account & Billing</p>
    <p>Plans & Pricing</p>
    <p>Supported devices</p>
    <p>Privacy policy</p>
</div>



</div>
</footer>