<section>
    <div class="wide-container">
        <div class="row">
            <figure class="mb-0 col-12 col-md-5 col-lg-4 col-xl-3 ">
                <img [src]="imgPrefix+actor.profile_path" alt="" class="img-fluid">
            </figure>
            <div class="col-12 col-md-7 col-lg-7 col-xl-9 ">
              
                    <h3 class="my-4 my-md-1">{{actor.name}}</h3>
                    <h5 class="text-white">{{actor.known_for_department}}</h5>
                    <h5 class="text-white">Popularity {{actor.popularity}} <i class="fas fa-star color ml-1"></i></h5>
                    <h5 class="text-white">{{actor.birthday}}</h5>
                    <h5 class="text-white  text-nowrap">{{actor.place_of_birth}}</h5>
         

                <div class="" *ngIf="images.profiles.length > 1">
                    <div class="mt-5 mt-md-5  mt-lg-1 mt-xl-5">
                        <div class="">
                            <owl-carousel-o [options]="customOptionsPhotos" #owlCar>
                                <ng-template [width]="150" carouselSlide *ngFor="let img of images.profiles">
                                    <figure class=" mb-0 animate__animated animate__fadeIn "
                                        style="cursor: pointer;">
                                        <img [src]="imgPrefix+img.file_path" alt="" class="w-100 ">
                                    </figure>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                      
                    </div>
                </div>


                
            </div>
        </div>
        <p class="text-white my-5">{{actor.biography}}</p>


        <h3 class="title pl-2 my-4">Known For</h3>

        <div class="container-fluid" *ngIf="movies.cast.length !=0">
            <div class=" row align-items-center  mt-4  ">
                <button type="button" class="col-0 sliderBtn rounded-circle ml-auto " (click)="owlCar.prev()"><i
                        class="fas fa-arrow-left text-white"></i></button>
                <div class="col-11 col-md-9 col-lg-9 col-xl-11">
                    <owl-carousel-o [options]="customOptions" #owlCar>
                        <ng-template  [width]="210" carouselSlide *ngFor="let similarMovie of movies.cast">
                            <figure (click)="moviesDetailes(similarMovie.id)"
                                class=" mb-0 animate__animated animate__fadeIn " style="cursor: pointer;">
                                <div class="itemOverlay d-flex  flex-column justify-content-between">
                                    <div class="d-flex justify-content-between align-items-baseline w-100">
                                        <i class="far fa-bookmark p-2 rounded m-3"
                                            style="background-color: #151f30;"></i>
                                        <span class="icons m-3 p-1"><i
                                                class="far fa-star m-1"></i>{{similarMovie.vote_average}}</span>
                                    </div>
                                    <i class="fas fa-play-circle fa-2x mx-auto my-auto"></i>
                                </div>
                                <img [src]="imgPrefix+similarMovie.poster_path" alt="" class="w-100 ">
                            </figure>
                        </ng-template>
                    </owl-carousel-o>
                </div>
                <button type="button" class="col-0 sliderBtn rounded-circle mr-auto" (click)="owlCar.next()"><i
                        class="fas fa-arrow-right text-white"></i></button>
            </div>
        </div>
    </div>
</section>